<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Catherine Guo</h1>
      <p>Hi, welcome to my personal page! This page was created from Talia Swartz's <a href="https://github.com/zsobin/PersonalWebApp" target="_blank">PersonalWebApp repo</a></p>
    </div>
  </main>

</body>

</html>